packages: [
  "atom-beautify"
  "atomic-emacs"
  "badass-react-snippets"
  "block-cursor"
  "indent-guide-improved"
  "language-babel"
  "minimap"
  "minimap-cursorline"
  "package-sync"
  "print-code"
  "redux-snippets"
]
